<!DOCTYPE html>
<html lang="en" ng-app="ProjectTrackingModule">
<head>
    <title>Employee Details</title>
    <script src="../Scripts/jquery-2.1.4.min.js"></script>
    <link href="../Content/bootstrap.cyborg.min.css" rel="stylesheet" />
    <link href="../CSS/Site.css" rel="stylesheet" />
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/angular.js"></script>

    <script src="../Scripts/App/App.js"></script>
    <script src="../Controllers/EmployeesController.js"></script>
    <script src="../Services/EmployeesService.js"></script>
</head>
    <body ng-controller="EmployeesController">
        
        <h1>{{Title}}</h1>
        <form method="GET" ng-submit="SearchEmployees(employeeName)">
            Search: <input type="text" placeholder="Enter EmployeeID" ng-model="employeeName" />
            <input type="submit" value="Go" />
        </form>
        <table class="table table-striped table-hover">
            <thead>
                <tr class="info">
                    <td>
                        Employee ID
                    </td>
                    <td>
                        Employee Name
                    </td>
                    <td>
                        Designation
                    </td>
                    <td>
                        Contact No.
                    </td>
                    <td>
                        EMailID
                    </td>
                    <td>
                        Skill Sets
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr class="success" ng-repeat="Employee in Employees | orderBy:'employeeName'">
                    <td>
                        {{Employee.employeeID}}
                    </td>
                    <td>
                        {{Employee.employeeName}}
                    </td>
                    <td>
                        {{Employee.designation}}
                    </td>
                    <td>
                        {{Employee.contactNo}}
                    </td>
                    <td>    
                        {{Employee.eMailID}}
                    </td>
                    <td>
                        {{Employee.skillSets}}
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
